header {
  position: absolute;
  width: 1350px;
  height: 400px;

  background: #f38e58;
}

h1 {
  position: absolute;
  width: 422px;
  height: 75px;

  margin-top: 221px;
  margin-left: 474px;

  font-family: "Raleway", sans-serif;
  font-style: bold;
  /* font-weight: 1600; */
  font-size: 64px;
  line-height: 75px;
  /* line-height: 100%; */

  text-align: center;
  vertical-align: top;

  color: #ffffff;
}

.imglander {
  position: absolute;
  width: 135px;
  height: 50px;

  margin-top: 5px;
  margin-left: 110px;
}

.menuhaut {
  position: absolute;
  width: 697px;
  height: 28px;
  margin-left: 300px;
  margin-top: 30px;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  text-align: Left;
  vertical-align: Top;

  color: #ffffff;
}

.dayfree {
  position: absolute;
  width: 150px;
  height: 40px;
  margin-top: 23px;
  margin-left: 975px;
  z-index: 1;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  text-align: center;
  align-items: center;
  /* border: 1px solid green; */
  color: #ffffff;
}

.rectdayfree {
  position: absolute;
  width: 159px;
  height: 40px;
  margin-left: 965px;
  margin-top: 23px;

  fill: Solid;

  background: #000000;
  border-radius: 10px;
}

.login {
  position: absolute;
  width: 100px;
  height: 40px;
  margin-top: 23px;
  margin-left: 1140px;

  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;

  stroke: Solid;
  text-align: Inside;
}

.reachout {
  position: absolute;
  width: 260px;
  height: 33px;
  margin-top: 480px;
  margin-left: 115px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;

  color: #56b4e3;
}

.lander {
  position: absolute;
  width: 260px;
  height: 33px;
  margin-top: 480px;
  margin-left: 705px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;

  color: #56b4e3;
}

.goa {
  position: absolute;
  width: 504px;
  height: 40px;
  margin-top: 530px;
  margin-left: 115px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 100;
  font-size: 17px;
  line-height: 20px;

  color: #000000;
}

.firstname {
  position: absolute;
  width: 504px;
  height: 40px;
  margin-left: 115px;
  margin-top: 615px;
  padding-top: 7px;
  padding-left: 10px;

  font-family: Raleway;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  border: 2px solid #c8c9cd;
  box-sizing: border-box;
  border-radius: 5px;
}
.firstname1 {
  position: absolute;
  width: 504px;
  height: 40px;
  margin-left: 115px;
  margin-top: 685px;
  padding-top: 7px;
  padding-left: 10px;

  font-family: Raleway;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  border: 2px solid #c8c9cd;
  box-sizing: border-box;
  border-radius: 5px;
}
.firstname2 {
  position: absolute;
  width: 504px;
  height: 40px;
  margin-left: 115px;
  margin-top: 755px;
  padding-top: 7px;
  padding-left: 10px;

  font-family: Raleway;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  border: 2px solid #c8c9cd;
  box-sizing: border-box;
  border-radius: 5px;
}
.firstname3 {
  position: absolute;
  width: 504px;
  height: 40px;
  margin-left: 115px;
  margin-top: 825px;
  padding-top: 7px;
  padding-left: 10px;

  font-family: Raleway;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  border: 2px solid #c8c9cd;
  box-sizing: border-box;
  border-radius: 5px;
}
.firstname4 {
  position: absolute;
  width: 504px;
  height: 135px;
  margin-left: 115px;
  margin-top: 895px;
  padding-top: 7px;
  padding-left: 10px;

  font-family: Raleway;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  border: 2px solid #c8c9cd;
  box-sizing: border-box;
  border-radius: 5px;
}

.footer {
  position: absolute;
  width: 1350px;
  height: 265px;
  margin-top: 1210px;
  margin-left: 0px;

  background: #404040;
}

.footer1 {
  position: absolute;
  width: 1350px;
  height: 40px;
  margin-top: 1475px;
  margin-left: 0px;
  padding-top: 15px;
  padding-left: 115px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 50;
  font-size: 18px;
  color: #979797;

  background: #333333;
}
